extends layout

block content
    .container
        form(method='post', action='contact/send')
            h1 Contact
            .form-group
             label Name
             input.form-control(type='text', name='name', palceholder='Enter Name')
            .form-group
             label Email
             input.form-control(type='email', name='email', palceholder='Enter Email')
            .form-group
            label Message
            textarea.form-control(name='message', palceholder='Enter Message')
            .form-group
            button.btn.btn-default(type='submit') Submit